
:root {
    --bg-gray: #444;
    --hacker-green: #080;
    --hacker-gray: #333;
    --error-red: #ff0048;
}

body, html {
    height: auto;
    margin: 0;
}
body {
    background-color: var(--bg-gray);
}

body * {
    font-family: "Verdana";
}

button {
    transition: transform 0.1s ease-in-out;
}

button:hover {
    transform: rotate(3deg);
}

button.wand {
    padding: 6px;
    font-size: 18px;
    color: var(--hacker-green);
    background-color: var(--hacker-gray);
    border: 2px solid;
    border-radius: 2px;
    display: block;
    margin: 5px;
}

std-inout, std-inout * {
    font-family: 'consolas';
    font-size: 22px;
    color: var(--hacker-green);
    display: block;
    margin: auto;
}

std-inout {
    border: var(--hacker-green) 2px solid;
    border-radius: 5px;
    background-color: var(--hacker-gray);
    max-width: 800px;
    margin: 20px auto;
    padding: 16px;
}

std-inout * {
    padding: 12px;
    width: -webkit-fill-available;
    border: none;
    min-height: 22px;
}

std-inout input, std-inout textarea {
    border-top: var(--hacker-green) 2px solid;
    background: none;
}

std-inout output {
    white-space: pre;
}

output err {
    color: var(--error-red);
}