

:root {
    --bg-gray: #444;
    --hacker-green: #080;
    --hacker-gray: #333;
    --hacker-gray-dark: #222;
    --hacker-green-dark: rgb(0, 73, 0);
    --hacker-green-gray-light: #c6eec6;
    --hacker-green-gray-dark: rgb(26, 48, 26);
    --error-red: #ff0048;
}

body, html {
    height: auto;
    margin: 0;
}
body {
    background-color: var(--bg-gray);
}

body * {
    font-family: "Verdana";
}

.tiltbutton {
    transition: transform 0.1s ease-in-out;
}

.tiltbutton:hover {
    transform: rotate(3deg);
}

.style1 {
    background-color: var(--hacker-gray-dark);
    color: var(--hacker-green);
    border: 2px var(--hacker-green) solid;
    border-radius: 4px;
}

button {
    background-color: var(--hacker-gray-dark);
    color: var(--hacker-green);
    border: 2px var(--hacker-green) solid;
    border-radius: 4px;
}

#compile-btn {
    width: fit-content;
    font-family: Verdana;
    font-size: 20px;
}

button.wand {
    padding: 6px;
    font-size: 18px;
    border-radius: 2px;
    display: block;
    margin: 5px;
}

output {
    white-space: pre;
}

output err {
    color: var(--error-red);
}

input, textarea {
    outline: none;
    text-decoration: none;
    font-family: 'consolas';
}

textarea {
    resize: none;
}

table {
    list-style: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}

table tr td, table tr th {
    margin: 4px;
}

#register-table {
    height: 650px;
    margin: 10px;
    margin-top: 0;
    display: block;
    overflow-y: scroll;
}

grid {
    display: grid;
    gap: 0;
    grid-template-columns: 28% auto 28%;
}

griditem {
    display: inline-grid;
    margin: 0;
    padding: 0;
    gap: 0;
}

.head {
    width: 100%;
    height: 80px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    color: var(--hacker-green);
    font-size: 30px;
    font-family: Verdana;
}

titletext {
    margin: auto;
}

.left-column {
    grid-column-start: 1;
    grid-row-start: 2;
}

.center-column {
    grid-column-start: 2;
    grid-row-start: 2;
}

.right-column {
    grid-column-start: 3;
    grid-row-start: 2;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--hacker-green-gray-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--hacker-green-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hacker-green);
}

::-webkit-scrollbar-corner {
    background: var(--hacker-green-gray-dark);
}

#code-input {
    color: var(--hacker-green-gray-light);
    display: block;
    height: 50%;
    min-height: 600px;
    overflow-y: scroll;
    font-size: 18px;
}

#console {
    margin: 10px;
    margin-top: 0;
}